Team-42-front-end/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Team_42_web_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Team_42_web_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfJobPost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobPost" nillable="true" type="tns:JobPost" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobPost" nillable="true" type="tns:ArrayOfJobPost" />
  <xs:complexType name="JobPost">
    <xs:sequence>
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deadline" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Experience" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Qualification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="R_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salary" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobPost" nillable="true" type="tns:JobPost" />
  <xs:complexType name="Recruiter">
    <xs:sequence>
      <xs:element minOccurs="0" name="R_DOB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="R_Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="R_Id" type="xs:int" />
      <xs:element minOccurs="0" name="R_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="R_Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Recruiter" nillable="true" type="tns:Recruiter" />
</xs:schema>