Team-42-front-end/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53174/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53174/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53174/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Team_42_web_Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_RegisterRec_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterRec" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterRec_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterRecResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PostJob_InputMessage">
    <wsdl:part name="parameters" element="tns:PostJob" />
  </wsdl:message>
  <wsdl:message name="IService1_PostJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostJobResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetJobs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobs" />
  </wsdl:message>
  <wsdl:message name="IService1_GetJobs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginRec_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginRec" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginRec_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginRecResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getRec_InputMessage">
    <wsdl:part name="parameters" element="tns:getRec" />
  </wsdl:message>
  <wsdl:message name="IService1_getRec_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRecResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="RegisterRec">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegisterRec" message="tns:IService1_RegisterRec_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterRecResponse" message="tns:IService1_RegisterRec_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PostJob" message="tns:IService1_PostJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PostJobResponse" message="tns:IService1_PostJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetJobs" message="tns:IService1_GetJobs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetJobsResponse" message="tns:IService1_GetJobs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginRec">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoginRec" message="tns:IService1_LoginRec_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginRecResponse" message="tns:IService1_LoginRec_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRec">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getRec" message="tns:IService1_getRec_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getRecResponse" message="tns:IService1_getRec_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterRec">
      <soap:operation soapAction="http://tempuri.org/IService1/RegisterRec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostJob">
      <soap:operation soapAction="http://tempuri.org/IService1/PostJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobs">
      <soap:operation soapAction="http://tempuri.org/IService1/GetJobs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginRec">
      <soap:operation soapAction="http://tempuri.org/IService1/LoginRec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRec">
      <soap:operation soapAction="http://tempuri.org/IService1/getRec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:53174/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>